{% import '_includes/forms' as forms %}

<div class="icon-picker {{ showLabels ? 'show-labels' }}">
    <select class="icon-picker-select" name="{{ name ~ '[icon]' }}" data-placeholder="Select Icon...">
        <option value="">None</option>

        {% for optgroup, icons in iconSets %}
            <optgroup label="{{ optgroup == 'root' ? '' : optgroup }}">
                {% for icon in icons %}
                    {% if icon.type == 'sprite' %}
                        <option data-data="{{ icon | json_encode }}" value="{{ icon.value }}"{% if icon.value == value.getSerializedValue() %} selected{% endif %}>{{ icon.label }}</option>
                    {% elseif icon.type == 'glyph' %}
                        <option data-data="{{ icon | json_encode }}" value="{{ icon.value }}"{% if icon.value == value.getSerializedValue() %} selected{% endif %}>{{ icon.label }}</option>
                    {% elseif icon.type == 'svg' %}
                        <option data-data="{{ icon | json_encode }}" value="{{ icon.value }}"{% if icon.value == value.getSerializedValue() %} selected{% endif %}>{{ icon.label }}</option>
                    {% endif %}
                {% endfor %}
            </optgroup>
        {% endfor %}
    </select>
</div>