{% import '_includes/forms' as forms %}

{{ forms.lightswitchField({
    label: 'Show Labels' | t('icon-picker'),
    instructions: 'Whether to show labels for each icon in the selection dropdown.' | t('icon-picker'),
    name: 'showLabels',
    on: settings.showLabels,
}) }}

{% if not errors | length %}
    {{ forms.checkboxSelectField({
        label: 'Available Icon Sets' | t('icon-picker'),
        instructions: 'Select which icon sets should be available to this field.' | t('icon-picker'),
        id: 'svgicons',
        name: 'iconSets',
        options: iconSets,
        values: settings.iconSets ?? '*',
        showAllOption: true,
    }) }}
{% else %}
    <div class="errors">
        {% for error in errors %}
            {{ error | t('icon-picker') | raw }}
        {% endfor %}
    </div>
{% endif %}

{{ forms.checkboxSelectField({
    label: 'Available Remote Icon Sets' | t('icon-picker'),
    instructions: 'Select which (if any) remote, CDN icon sets should be available to this field.' | t('icon-picker'),
    id: 'remoteSets',
    name: 'remoteSets',
    options: remoteSets,
    values: settings.remoteSets ?? '',
    showAllOption: true,
}) }}
